target/classes/proyecto.iap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="ggaebd" doc:name="MySQL Configuration"/>
	<flow name="">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Downloads\PROYECTO\Documentacion\documentos-intercambio\1 - alumnos" responseTimeout="10000" doc:name="File">
			<file:filename-regex-filter pattern="alumnos.csv" caseSensitive="true"/>
		</file:inbound-endpoint>
		<dw:transform-message doc:name="Transform Message" metadata:id="0503350d-ddd0-4dfe-b84b-d9a3ee3b54f6">
			<dw:input-payload mimeType="application/csv">
				<dw:reader-property name="header" value="false"/>
			</dw:input-payload>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	apellidos: payload01.column_0,
	nombre: payload01.column_1,
	dni: payload01.column_2,
	email: payload01.column_3
})]]></dw:set-payload>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<db:insert config-ref="MySQL_Configuration" doc:name="Database">
				<db:parameterized-query><![CDATA[INSERT INTO alumnos (nombre, apellidos, dni, email) VALUES (#[payload.nombre], #[payload.apellidos], #[payload.dni], #[payload.email]);]]></db:parameterized-query>
			</db:insert>
		</foreach>
	</flow>
</mule>
